<!DOCTYPE html>
<html>
  <style>
    * {
      font-family: sans-serif;
    }

    .page-wrapper {
      padding: 15px;
    }

    .clear-button {
      position: fixed;
      right: 15px;
      top: 15px;
      font-size: 25px;
      opacity: 0.75;
    }
  </style>

  <body>
    <div class="page-wrapper">
      <form id="ws-form" onsubmit="event.preventDefault(); onSubmit()">
        <h1>
          Put Redis Channel to subscribe to (comma separated for multiple
          channels)
        </h1>
        <input id="channels" type="text" autofocus />
        <button
          id="subscribe-button"
          onclick="event.preventDefault(); onSubmit()"
        >
          Subscribe
        </button>
      </form>

      <h2 id="banner">Not Subscribed</h2>
      <ul class="events"></ul>
      <button class="clear-button" onclick="clearData()">Clear</button>
    </div>

    <script>
      var CHANNEL_STORAGE = "channel";
      var ws;

      var wsForm = document.querySelector("#ws-form");
      var channelInput = document.querySelector("#channels");
      channelInput.value = localStorage.getItem(CHANNEL_STORAGE) || "";

      wsForm.addEventListener("submit", onSubmit, false);

      var clearData = () => {
        document.querySelector(".events").innerHTML = "";
      };

      var onSubmit = () => {
        document.querySelector(".events").innerHTML = "";
        if (ws) {
          console.log(`closing previous Websocket connection: ${ws.url}`);
          ws.close();
        }
        var channels = document.querySelector("#channels").value;
        if (channels) {
          localStorage.setItem(CHANNEL_STORAGE, channels);
          var banner = document.querySelector("#banner");
          banner.innerHTML = `Subscribed to ${channels}!`;

          var wsHost = "ws://localhost:" + "{{.Port}}" + `/ws/${channels}`;
          ws = new WebSocket(wsHost);
          ws.onmessage = (e) => {
            let ul = document.querySelector(".events");
            let li = document.createElement("li");
            let now = new Date();

            let msg = `${now.toISOString()}: ${e.data}`;

            li.appendChild(document.createTextNode(msg));
            ul.appendChild(li);

            window.scrollTo(0, document.body.scrollHeight);
          };
        }
      };
    </script>
  </body>
</html>
